<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" . }}
  <meta property="og:description" content="Error page" />
  <meta name="description" content="Error page">
  <title>{{ .PageTitle }}</title>
</head>

<body>
  <div>{{ .Message }}</div>
</body>

</html>
