<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./assets/static/css/style.css">
  <title>JVS Token Retrieval</title>
</head>

<body>

  <div class="container">
    <h1>JVS - Justification Request System</h1>
    <form action="/popup" method="post">
      <!-- User -->
      <div class="row">
        <div class="col-25">
          <label for="user">User</label>
        </div>
        <div class="col-75">
          <label id="username" name="username">TODO Username here</text>
        </div>
      </div>

      <!-- Category -->
      <div class="row">
        <div class="col-25">
          <label for="category">Category</label>
        </div>
        <div class="col-75">
          <div>
            <select id="category" name="category">
              <option value="explanation">Explanation</option>
              <option value="breakglass">Breakglass</option>
            </select>
          </div>
          {{ if .Errors.Category }}
          <p class="error" style="color:red;">{{ .Errors.Category }}</p>
          {{ end }}
        </div>
      </div>

      <!-- Value -->
      <div class="row">
        <div class="col-25">
          <label for="value">Value</label>
        </div>
        <div class="col-75">
          <div>
            <input type="text" id="value" name="value" placeholder="i.e issue/xxxxx">
          </div>
          {{ if .Errors.Value }}
          <p class="error" style="color:red;">{{ .Errors.Value }}</p>
          {{ end }}
        </div>
      </div>
      
      <!-- TTL -->
      <div class="row">
        <div class="col-25">
          <label for="ttl">TTL</label>
        </div>
        <div class="col-75">
          <div>
            <select id="ttl" name="ttl">
              <option value="15">15m</option>
              <option value="30">30m</option>
              <option value="60">1h</option>
              <option value="120">2h</option>
              <option value="240">4h</option>
            </select>
          </div>
          {{ if .Errors.TTL }}
          <p class="error" style="color:red;">{{ .Errors.TTL }}</p>
          {{ end }}
        </div>
        
      </div>
      <br>

      <!-- Primary Button -->
      <div class="row">
        <input id="submit-btn" type="submit" value="Submit">
      </div>
    </form>
  </div>

</body>
<script src="./assets/static/js/main.js" type="text/javascript"></script>

</html>