<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover, target-densityDpi=device-dpi">
  <meta name="robots" content="noindex, nofollow, noarchive">
  <meta property="og:title" content="{{ .PageTitle }}" />
  <meta property="og:description" content="Justification Verification System form used for minting tokens." />
  <meta name="description" content="Justification Verification System form used for minting tokens.">
  <meta name="apple-mobile-web-app-capable" property="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" property="apple-mobile-web-app-status-bar-style"
    media="(prefers-color-scheme: light)" content="white">
  <meta name="apple-mobile-web-app-status-bar-style" property="apple-mobile-web-app-status-bar-style"
    media="(prefers-color-scheme: dark)" content="black">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/static/images/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/assets/static/images/favicons/android-chrome-512x512.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/static/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/static/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/static/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/static/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-config" content="/assets/static/images/favicons/browserconfig.xml" />
  <meta name="msapplication-TileColor" content="#c7b3d2">
  <meta name="msapplication-TileImage" content="mstile-144x144.png">
  <link rel="stylesheet" type="text/css" href="/assets/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/static/css/style.css">
  <title>{{ .PageTitle }}</title>
</head>

<body>
  {{ $context := . }}
  <div class="container">
    <h1 class="title">{{ .PageTitle }}</h1>
    <form action="/popup?origin={{ .Origin }}" method="post">
      <ul class="flex-outer">

        <!-- Username -->
        <li class="content-row">
          <label class="content-label" for="username">Username</label>
          <label class="content-data" for="username">TODO username</label>
        </li>

        <!-- Category row -->
        <li class="content-row">
          <label class="content-label" for="category">Category</label>
          <select class="content-select" id="category" name="category">
            {{ range $index, $element := .Content.Categories }}
            {{ if eq $element.Key $context.Category }}
            <option value="{{ $element.Key }}" selected="selected">{{ $element.Text }}</option>
            {{ else }}
            <option value="{{ $element.Key }}">{{ $element.Text }}</option>
            {{ end }}
            {{ end }}
          </select>
        </li>
        {{ if .Errors.Category }}
        <li class="content-row">
          <label class="content-error" style="color:red;">{{ .Errors.Category }}</label>
        </li>
        {{ end }}

        <!-- Reason row -->
        <li class="content-row">
          <label class="content-label" for="reason">Reason</label>
          <input class="content-input" type="text" id="reason" name="reason" placeholder="i.e. issue/xxxxx">
        </li>
        {{ if .Errors.Reason }}
        <li class="content-row">
          <label class="content-error" style="color:red;">{{ .Errors.Reason }}</label>
        </li>
        {{ end }}

        <!-- TTL row -->
        <li class="content-row">
          <label class="content-label" for="ttl">TTL</label>
          <select class="content-select" id="ttl" name="ttl">
            {{ range $index, $element := .Content.TTLs }}
            {{ if eq $element.Key $context.TTL }}
            <option value="{{ $element.Key }}" selected="selected">{{ $element.Text }}</option>
            {{ else }}
            <option value="{{ $element.Key }}">{{ $element.Text }}</option>
            {{ end }}
            {{ end }}
          </select>
        </li>
        {{ if .Errors.TTL }}
        <li class="content-row">
          <label class="content-error" style="color:red;">{{ .Errors.TTL }}</label>
        </li>
        {{ end }}

        <!-- Action buttons -->
        <div class="form-btns">
          <input class="secondary-btn" type="reset" value="Reset">
          <input class="primary-btn" type="submit" value="Submit">
        </div>
      </ul>

      <!-- Hidden fields -->
      <input type="hidden" id="origin" name="origin" value="">
      <input type="hidden" id="windowname" name="windowname" value="">

    </form>
  </div>
</body>

<script src="/assets/static/js/index.js" type="text/javascript"></script>

</html>
