<!DOCTYPE html>
<html lang="en">

<head>
  {{ template "head" . }}
  <meta property="og:description" content="Successful token page." />
  <meta name="description" content="Successful token page">
  <title>{{ .PageTitle }}</title>
</head>

<body>
  <script id="success" src="/assets/static/js/success.js" origin="{{ .TargetOrigin }}" token="{{ .Token }}"
    window-name="{{ .WindowName }}" type="text/javascript"></script>
</body>

</html>
