<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover, target-densityDpi=device-dpi">
  <meta name="robots" content="noindex, nofollow, noarchive">
  <meta name="description" content="Successful token page">
  <meta property="og:title" content="JVS Token Retrieved Page" />
  <meta property="og:description" content="Successful token page" />
  <meta name="apple-mobile-web-app-capable" property="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" property="apple-mobile-web-app-status-bar-style"
    media="(prefers-color-scheme: light)" content="white">
  <meta name="apple-mobile-web-app-status-bar-style" property="apple-mobile-web-app-status-bar-style"
    media="(prefers-color-scheme: dark)" content="black">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
  <title>JVS Token Retrieval</title>
</head>

<body>
</body>

<script id="main" src="./assets/static/js/main.js" origin="{{ .TargetOrigin }}" token="{{ .Token }}"
  windowname="{{ .WindowName }}" type="text/javascript"></script>

</html>
